* {
    margin: 0;
    padding: 0;
}

.wrapper {
    box-sizing: border-box;
    background: #23252C;
    width: 550px;
    height: 868px;
    padding: 44px 117px;
    display: grid;
    place-items: center;
}

.card-container {
    border-radius: 6px;
    background: #1A1B21;

}

.card-container>img {
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0px 0px;
}

.social-info {
    color: white;
    text-align: center;
}

.name {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 21px;
}

.social-info>h5 {
    color: #F3BF99;
    font-size: 12.8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-info>h6 {
    color: #F5F5F5;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 8px;
}

.buttons {
    padding-top: 15px;
    display: flex;
    gap: 17px;
    justify-content: center;
}

.buttons>button {
    display: flex;
    width: 115px;
    padding: 9px 13px 9px 11px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.email-btn {
    border: 1px solid var(--gray-300, #D1D5DB);
    background: var(--white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.linkedin-btn {
    border: none;
    background: #5093E2;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.text-header {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
}

.text-el1 {
    padding: 42px 35px 0px 35px;
}

.text-el1>p {
    color: #DCDCDC;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.text-el2 {
    padding: 27px 35px 24px 35px;
}

.text-el2>p {
    color: #DCDCDC;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 0px 0px 10px 10px;
    background: #161619;
    padding: 20px 72px;
}