*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #1C1C1C;
}

html, body {
    height: 100%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}